html {
	background: #222;
}

#content{
        width: 40%;
	min-width: 450px;
        height: 200px;
        margin: 15% auto;
}

.navChild:first-child {
	float: left;
}

.navChild {
	width: 200px;
	height: 200px;
	float: right;
}
