html {
	background: #222;
}

#content{
        width: 40%;
	min-width: 450px;
        height: 200px;
        margin: 15% auto;
	font-family: 'Questrial', sans-serif;
}

h2 {
	color: #CCC;
	font-size: 1.6em;
	margin-top:20px;
	margin-bottom:15px;
}

p {
	color: #AAA;
	font-size: 0.7em;
	line-height: 0px;
}

.navChild:first-child {
	float: left;
}

.navChild {
	width: 200px;
	height: 200px;
	float: right;
	text-align: center;
}
